@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0c7e5c;
  --bg-hover: #005A44;
  --bg-delete:#E80212;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/
body {
  color: rgb(var(--bg));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--bg-hover))
    )
    rgb(var(--bg-delete));
} 


/* FAQ css */
.ReactCollapse--collapse {
  transition: height 500ms;
}
